.gradient-container {
  /* max-width: 250px; */
  /* padding: 2px; */
  /* z-index: 1; */

  background: rgb(63, 94, 251);
  background: linear-gradient(
    265deg,
    rgba(0, 225, 255, 0.2) 0%,
    rgba(255, 0, 191, 0.2) 100%
  );
  filter: brightness(120%);
}

.gradient {
  padding: 30px;
  color: white;
  font-size: 35px;
  font-family: arial;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
